:root {
  --pink:#FFCFD2;
  --blue: #A1D2CE;
  --yellow: #F2E2BA;
  --beige: #E4DFDA;

  --primary: var(--pink);
}

body{
  background-color: var(--primary);
  
};

.yellow {
  background-color:var(--yellow);
}

.beige {
  background-color:var(--beige);
}

.pink {
  --primary:var(--pink);
}
.blue {
  --primary:var(--blue);
}


.card {
  background-color: var(--yellow);
  width: 27%;
  border-radius: 25px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  flex-direction: row;
  margin:25px;
  transition: 0.3s;
  
  
}

.card:hover {
  transform: translateY(-15px);
}

.pic {
  border-radius: 8px;
  width: 24vw;
  height: 35vh;
  align-items: center;
  padding: 14%;
  padding-top: 15px;
  padding-bottom: 15px;
 
  
}

.name {
  text-align: center;
  padding-top: 10px;
  
}

.header {
  text-align: center;
  font-size: 65px;
  text-decoration: underline;
}

#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  text-align: center;
}