:root {
  --pink:#FFCFD2;
  --blue: #A1D2CE;
  --mimi: #FFE1EA;
  --beige: #E4DFDA;

  --primary: var(--pink);
  --secondary:var(--mimi);
}

body{
  background-color: var(--primary);
  
};



.pink {
  --primary:var(--pink);
  --secondary:var(--mimi);
}
.blue {
  --primary:var(--blue);
  --secondary:var(--beige);
}


.card {
  background-color: var(--secondary);
  width: 27%;
  border-radius: 25px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  flex-direction: row;
  margin:25px;
  transition: 0.3s;
  
  
}

.card:hover {
  transform: scale(1.1, 1.1);
}

.pic {
  border-radius: 20px;
  width: 25vw;
  height: 35vh;
  align-items: center;
  padding: 14%;
  padding-top: 15px;
  padding-bottom: 15px;
 
  
}

.name {
  text-align: center;
  padding-top: 10px;
}

.header {
  text-align: center;
  font-size: 65px;
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  text-align: center;
}

