:root {
  --pink:#EFA9AE;
  --green: #8BBD8B;
  --primary: var(--pink);
}

body{
  background-color: var(--primary);
  
};



.pink {
  --primary:var(--pink);
}
.green {
  --primary:var(--green);
}


.card {
  background-color: #F2E2BA;
  width: 25%;
  border-radius: 25px;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  flex-direction: row;
  margin:25px;
  transition: 0.3s;
  
  
}

.card:hover {
  transform: translateY(-15px);
}

.pic {
  border-radius: 8px;
  width: 24vw;
  height: 35vh;
  align-items: center;
  padding: 14%;
 
  
}

.name {
  text-align: center;
  padding-top: 10px;
  
}

.header {
  text-align: center;
  font-size: 65px;
  text-decoration: underline;
}

#app {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  text-align: center;
}